@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.slide {
    transform: scale(0.7);
    opacity: 0.5;
    transition: all 0.3s ease;
}
  
.activeSlide {
    transform: scale(1);
    opacity: 1;
}

.rotatingImage {
    transform: translateY(-60%);
}

.separadorIzquierdo::after, .separadorDerecho::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 10px; 
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.2), transparent);
    z-index: 10;
}

.box1:hover {
    background-image: url("/images/servicios2.jpg");
}
  
.box2:hover {
    background-image: url("/images/servicios4.jpg");
}

.box3:hover {
    background-image: url("/images/servicios6.png");
}

.image-container {
    z-index: 1;
}

.custom-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .custom-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .custom-dots li button {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    border: none;
    padding: 0;
    transition: all 0.3s ease;
  }
  
  .custom-dots li button::before {
    display: none;
  }
  
  .custom-dots li button.active-dot {
    background-color: #489F82;
    width: 15px;
    height: 15px;
  }